/* CSS file */
Application
{
    backgroundColor: white;
    /*backgroundImage: "assets/hong1.jpg";*/
}

ToolTip
{
	font-size: 12px;
	/*backgroundColor: #484842;
	color: #ffffff;*/
}

.searchInput
{
	color: white;
	backgroundAlpha: 0.0;
	fontSize: 12;
	borderStyle: solid;
	borderColor: white;
}
