/* CSS file */
Application
{
    backgroundColor: white;
    font-size:12px;
    /*backgroundImage: "assets/hong1.jpg";*/
}

ToolTip
{
}
            
.searchInput
{
}

.lblTitle
{
	font-size:14px;
	fontWeight:bold;
}
